.docs{
  margin-top: -1.5em;
}
.docs-menu{
  position: fixed;
  margin-left: 2em;
  margin-right: 4em;
  padding: 1em;
  border-radius: 5px;
  background-color: rgba(0,0,0,.02);
  height: 500px;
}
.scroller{
  font-size: 28px;
  right: 100px;
  position: fixed;
  bottom: 50px;
  visibility: hidden;
  text-decoration: none;
}
.scroller:hover{
  color: #465CA9;
}
.spinner1{
  height: 50px;
  margin: 0 auto;
  margin-top: 6em;
}
.spinner2{
  height: 80px;
  margin-left: 8em;
  margin-top: 8em;
}
