.docs{
  margin-top: 1.5em;
}
.docs-menu{
  margin-top: 1.5em;
  margin-left: 4em;
  margin-right: 4em;
  background-color: rgba(0,0,0,.002);
  height: 500px;
}
.scroller{
  font-size: 28px;
  right: 100px;
  position: fixed;
  bottom: 50px;
  visibility: hidden;
}
.scroller:hover{
  color: #465CA9;
}

