.logo{
  height: 4em;
  margin-top: -2em;
}
.icon{
  visibility: hidden;
}
.icons{
  font-size: 16px;
}
.nav {
  margin-top: 3em;
}
.nav-item{
  margin-top: -2em
}
.link{
  margin-top: -2em;
  font-size: 16px;
}
.learn{
  margin-top: -.1em;
  font-size: 16px;
}
.nav-bar{
  background-color: rgba(255,255,255,9);
  position: fixed;
  width: 100%;
  z-index: 1000;
  height: 8em;
}
.contributeView{
  margin-top: 1.5em;
  margin-left: 4em;
  margin-right: 4em;
}

.notFoundView{
  margin-top: 1.5em;
  margin-left: 4em;
  margin-right: 4em;
}
.header{
  height: 150px;
  width: 100%;
}



