.the-team{
  margin-left: 6em
  margin: 0 auto;
}
.team-profiles{
/*  border-radius: 75px;*/
  height: 12em;
  margin-right: 2em;
  border-radius: 5px;
}
.spinner3{
  height: 80px;
  margin-left: 10em
}

